h1, h2, h3 {
    font-family: 'Itim', serif;
    font-weight: bolder;
}

<<<<<<< HEAD
<<<<<<< HEAD
html, body {
    background-color: #F0F5F9;
    margin: 0;
    height: 100%;
=======
body {
    background-color: #F0F5F9;
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
=======
body {
    background-color: #F0F5F9;
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
}

/* LANDING PAGE */
.title {
    text-align: center;
    width: 80vw;
    white-space: nowrap;

    font-size: 3rem;
    /* Center horizontally and vertically */
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle {
    font-family: 'Verdana', serif;
    font-size: 1.2rem;
    opacity: 0.80;
    width: 80vw;

    text-align: center;
    /* Center horizontally and vertically */
    position: absolute;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.go-button {
    /* Styling */
    background-color: rgb(92, 201, 250);
    font-family: 'Itim', serif;
    font-weight: bolder;
    font-size: 2rem;
    padding: 5px 40px 5px 40px;

    /* Center horizontally and vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.go-button:hover {
    cursor: pointer;
}
.go-button * {
    /* Text inside button */
    color: black;
    text-decoration: none;
}

.robot-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.robot-container img {
    max-width: 300px;
}

.robot-container .robot-arrow {
    opacity: 0.80;
    position: absolute;
    top: 30%;
    right: 350px;
    width: max-content;
    font-size: 3rem;
    white-space: nowrap;
}
 .robot-container .robot-arrow i {
    padding-left: 25px;
}

/* FLASHCARD PAGE */

.back-to-home {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 4rem;
}
.back-to-home * {
    color: black;
}

.flashcard-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flashcard {
<<<<<<< HEAD
<<<<<<< HEAD
    width: 30vw;
    min-width: 15rem;
=======
    width: 35vw;
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
=======
    width: 35vw;
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
    aspect-ratio: 1/1;
    border: 4px solid black;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 8px 8px 10px grey;

    /* for children to format */
    position: relative;
}

.word {
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 1.5em;
=======
    font-size: 1.5rem;
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
=======
    font-size: 1.5rem;
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
    position: absolute;
    left: 50%;
    top: -6.5rem;
    transform: translate(-50%, 0);
<<<<<<< HEAD
<<<<<<< HEAD
    width: max-content;
=======
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
=======
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
}

.tools {
    font-size: 3rem;
    max-width: 5rem;
    height: fit-content;
    position: absolute;
    right: -6.5rem;
    top: 0rem;
}

.new-word {
    /* Styling */
    background-color: rgb(92, 201, 250);
    font-family: 'Itim', serif;
    font-weight: bolder;
    font-size: 2rem;
    padding: 5px 40px 5px 40px;

<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 1.5em;
    position: absolute;
    right: 0;
    bottom: -5rem;
=======
=======
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    bottom: -5rem;
    transform: translate(75%, 0);
<<<<<<< HEAD
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
=======
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
}

.check-word {
    /* Styling */
    background-color: rgb(92, 201, 250);
    font-family: 'Itim', serif;
    font-weight: bolder;
    font-size: 2rem;
    padding: 5px 40px 5px 40px;

<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 1.5em;
    position: absolute;
    left: 0;
    bottom: -5rem;
=======
=======
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
    font-size: 1.5rem;
    position: absolute;
    left: 0%;
    bottom: -5rem;
    transform: translate(25%, 0);
<<<<<<< HEAD
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
=======
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
}

.check-word:hover {
    cursor: pointer;
}
.check-word * {
    color: black;
    text-decoration: none;
}
.new-word:hover {
    cursor: pointer;
}
.new-word * {
    color: black;
    text-decoration: none;
}

.robot-top-container {
    position: absolute;
    bottom: -5px;
    right: 0;
}
.robot-top-container img {
<<<<<<< HEAD
<<<<<<< HEAD
    width: 50vw;
    max-width: 15rem;
=======
    max-width: 300px;
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
=======
    max-width: 300px;
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
}

.paint-canvas {
    z-index: 1;
    position: absolute;
    display: block;
}
  
.active {
    color: rgb(92, 201, 250);
}

.robot-dialogue {
    position: absolute;
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 2em;
    top: 28%;
    right: 10em;
    white-space: nowrap;
}


@media only screen and (max-width: 750px) {
    .robot-dialogue {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 420px) {
    .robot-dialogue {
        font-size: 1rem;
    }
    .robot-top-container {
        bottom: 3vh;
    }
=======
=======
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
    font-size: 2rem;
    top: 35%;
    right: 22vw;
    white-space: nowrap;
<<<<<<< HEAD
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
=======
>>>>>>> 991e8faedbd6d07713d6b15d1f9b424465cd45b7
}